nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 0.2em;
  font-size: 1.3em;
}

article.project {
  margin: 1em;
}

article.template {
  display: none;
}

.project-title {
  font-size: 1.5em;
}
